@import url("./reset.css");

html {
  font-size: 10px;
}

h1 {
  background-color: #57EE27;
  font-size: 3rem;
  text-align: center;
  margin: 5px;
  box-sizing: content-box;
  display: inline-block;
}

.types {
  font-size: 1.5rem;
  width: 10%;
  height: 5%;
  background-color: #57EE27;
  margin: 10px;
}

.fa-rotate-right {
  background-color: #57EE27;
  padding: 10px;
  border-radius: 50%;
  margin: 0 5px;
}