// 실무 content 사용 용법
// hover처럼 목적이 확실할 때 사용한다.

@mixin sample {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

  &:hover {
      @content;
  }
}

.one {
  @include sample {
      background-color: red;
  }
}

.two {
  @include sample {
      background-color: green;
  }
}