/* font */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}
/* reset css */
body {
  margin: 0;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  font: inherit;
}
img {
  /* 이미지는 인라인 요소라 한줄로 정렬. 이미지가 텍스트의 베이스라인에 정렬되는 것을 위를 기준으로 정렬하기 위해 넣은 것이다. */
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}
input, button {
  font: inherit;
}
button {
  border: 0;
  background-color: none;
}
button:enabled {
  cursor: pointer;
}
ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}

/* CSS 적용 */
body {
  font-family: 'Pretendard-Regular';
  background-color: #FFFAF0;
}
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

/* header */
.header {
  background-color: #fff;
}

.header .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 1440px; */
  /* height: 120px; */
  background-color: white;
  height: 120px;
}

.max-width {
  width: 1284px;
  /* 반응형이 되도록 창의 최댓값을 설정 */
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

.header h1 {
  width: 156px;
}

.header .login-text {
  display: flex;
  gap: 8px;
  align-items: center;
}
/* .header .login-text p::after {
  content: "|";
  color: #D8DDDE;
  margin-left: 24px;
} */
.header .login-text p strong {
  box-shadow: inset 0 -0.5em 0 #FF4F6E;
}

@media (min-width:601px) {
  .header .login-text p::after {
    content: "|";
    color: #D8DDDE;
    margin-left: 24px;
  }
}

@media (max-width:600px) {
  .header .login-text p {
    position: absolute;
    top: 160px;
    right: 0;
  }
}

/* 회원가입 버튼 */
[class^='btn'] {
  /* inline에서는 높이 값을 가질 수 없음. 단, flex가 적용되면 자동으로 주어진다. */
  display: inline-flex;
  height: 40px;
  padding: 0 20px 0 52px;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 10px 50%;
}
.btn-join {
  background-image: url(../img/icon-join.svg);
}

/* 로그인 버튼 */
.btn-login {
  background-image: url(../img/icon-login.svg);
}

/* 로그아웃 버튼 */
.btn-logout {
  background-image: url(../img/icon-logout.svg);
}

/* 로그인 */
.login {
  margin-top: 70px;
}
.main-title {
  width: 250px;
  margin: auto;
  text-align: center;
}
.main-title img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.main-title svg {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.svg-heart {
  stroke: transparent;
  transform-origin: 50% 20px;
  animation: heart 0.5s ease infinite alternate;
}
@keyframes heart {
  to {
    stroke: #ffc7d1;
    stroke-width: 2px;
    scale: 3;
  }
}

.main-title strong {
  color: #29363D;
  font-size: 24px;
  font-family: Pretendard-Bold;
  box-shadow: inset 0 -0.5em 0 rgba(255, 79, 110, 0.2);
  border-bottom: 3px solid #FF4F6E;
}

.login .form {
  width: 392px;
  margin: 40px auto 50px;
}

.form label {
  display: block;
  font-size: 14px;
  color: #29363D;
  margin-bottom: 8px;
}

.form input {
  width: 100%;
  height: 48px;
  padding: 10px;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #677880;
}

.form > div {
  margin-bottom: 24px;
}

/* .form button[type='submit'] */
button[type='submit'] {
  width: 100%;
  height: 48px;
  border: 0;
  background-color: #29363D;
  color: #F4F5F5;
  border-radius: 4px 4px 0 0;
}

.footer {
  text-align: center;
  /* margin: 0 auto; */
  color: #677880;
  font-size: 12px;
}

.form textarea {
  display: block;
  width: 100%;
  height: 360px;
  border: 1px solid #677880;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font: inherit;
}