body, h1, h2 {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: fit-content;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  color: #9A9A9A;
  margin-bottom: 16px;
  border-bottom: 1px solid #6B6B6B;
  padding-bottom: 5px;
}

.name-text {
  font-size: 16px;
  font-weight: bold;
}

.about-me-text {
  font-size: 12px;
}

.mainbox {
  width: 610px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #6B6B6B;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.title-box {
  text-align: right;
}

section {
  margin-bottom: 24px;
}

.float-wrap {
  overflow: hidden;
}

.title-text {
  font-size: 11px;
  font-weight: bold;
  float: left;
}

.date {
  font-size: 11px;
  font-weight: bold;
  float: right;
}

.desc-text {
  font-size: 9px;
}

.desc-subtext {
  font-size: 9px;
  padding-left: 16px;
}

.portfolio-img {
  width: 20px;
  height: 20px;
}

.portfolio-wrap {
  text-align: right;
}